#solution {
    -fx-background-color: white;
        background-color: white;
    -fx-pref-height: 500px;
}

#titre {
    -fx-background-color: white;
        background-color: white;
    -fx-font-size: 20px;
        font-size: 20px;
    -fx-text-alignment: center;
    -fx-pref-width: 1000px;
}

#colonne {
    -fx-alignment: CENTER;
}

#formulaire {
    -fx-background-color: white;
        background-color: white;
    -fx-font-size: 15px;
        font-size: 15px;
    -fx-text-alignment: center;
    -fx-pref-width: 1000px;
    -fx-pref-height: 250px;
}